*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  margin: 10px;
  width: 800px;
  flex-wrap: wrap;
  border: 2px solid black;
}
.container p{
  padding: 20px;
}
.inner-container{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 250px; */
}
.inner-container div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}